* {box-sizing: border-box;
margin: 0;
padding: 0;}

h1 {text-align: center;
color: black;}

textarea {resize: none;}

#caixa {
    background-image: url(../img/dbz.jpg);
    background-image: cover;
    width: 600px;
    border-radius: 30px;
    border: black 7px solid;
    padding: 15px;
    margin: 0 auto  
}

